div{
    color: yellow;
    text-align: center;
}
body {
   background-color:lightblue;
}
.c-item {
    height: 500px;
}
.c-img {
     height: 500px;
     object-fit: cover; 
     width:50%  
}
p{
    color: yellow;
    text-align: center;
    font-size: large;
}
h4{
    color: black;
}
.C4 {
    background-color:gray;
 }
 .roses {
   width: 500px;
   height: 700px;
   text-align: center;
 }
 .tx {
    background-color: gray;
    width: 1900px;
    height: 900px;
    text-align: center;
    
 }
 .dr{
    background-color: gray;
 }
 .ll{
    background-color: yellow;
 }
 .bb{
    background-color:green;
     width: 1900px;
      height: 900px;
      text-align: center;
      
 }
 .ww{
    color: blue;
 }
