div{
    color: yellow;
    text-align: center;
}
body {
   background-color:lightblue;
}
.c-item {
    height: 150px;
}
.c-img {
     height: auto;
     object-fit: cover; 
     max-width: 100px; 
}
p{
    color: yellow;
    text-align: center;
    font-size: large;
}
h4{
    color: black;
}

 .roses {
   width: 500px;
   height: 700px;
   text-align: center;
 }
 .tx { 
    background-color: gray;
    width: 1900px;
    height: 900px;
    text-align: center;
    
 }
 .dr{
    background-color: gray;
 }
 .ll{
    background-color: yellow;
 }
 .bb{
    background-color:white;
     width: 1900px;
      height: 900px;
      text-align: center;    
 }
 .ww{
    color: blue;
    border: 10px solid white;
   
 }
 .cc{
    max-width:100%;
    height: auto;
    border-radius: 30px;
 }
 .pp{
    text-align: center;
 }
 .cafe{
    background-color: black;
  color: aliceblue;
  border: 10px solid white;
 }
 .aa{
    width: 1900px;
    height: 900px;
    text-align: center;    
 }
 .entoy{
    background-color: navy;
  color: aliceblue;
  border: 10px solid white;
 }
 .oo{
    width: 1900px;
    height: 900px;
    text-align: center; 
 }
 .parola{
    background-color: orange;
  color: aliceblue;
  border: 10px solid white;
 }
 .uu{
    width: 1900px;
    height: 900px;
    text-align: center; 
 }
 .sungka{
    background-color:green;
  color: aliceblue;
  border: 10px solid white;
 }
 .su{
    color: green;
 }
 .pa{
    color: orange;
 }
 .gr{
    color: gray;
 }
 .en{
    color: navy;
 }
 .ca{
    color: black;
 }
 .an{
    color: yellow;
 }
 .st{
    color: brown;
 }
 .qq{
    background-color: green;
    color: green;
 }
 .muse{
    background-color:brown;
  color: aliceblue;
  border: 10px solid white;
 }
 .bric{
    background-color:yellow;
  color: aliceblue;
  border: 10px solid white;
 }
.pi{
    background-color: royalblue;
 }
 .ct{
    border: 50px;
    border-color: black;
 }
 .all{
    border-radius: 40px;
    border:5px solid black; 

 }
.like {
    width:70px;
    height:50px;
    background:blue;
    font-size:15    px;
    border:5px solid black; 
    border-radius:50px;   
}
 .heart {
    width:70px;
    height:50px;
    background:red;
    font-size:15px;
    border:5px solid black; 
    border-radius:50px;   
}
 .fun {
    width:70px;
    height:50px;
    background:yellow;
    font-size:15px;
    border:5px solid black; 
    border-radius:50px;   
}
 .sad {
    width:70px;
    height:50px;
    background:#80ffac;
    font-size:15px;
    border:5px solid black; 
    border-radius:50px;   
}
 .angry {
    width:70px;
    height:50px;
    background:orangered;
    font-size:15px;
    border:5px solid black; 
    border-radius:50px;   
}
.py{
    background: black;
    width:400px;
}
