.like {
    width:70px;
    height:50px;
    background:blue;
    font-size:15    px;
    border:5px solid black; 
    border-radius:50px;   
}
 .heart {
    width:70px;
    height:50px;
    background:red;
    font-size:15px;
    border:5px solid black; 
    border-radius:50px;   
}
 .fun {
    width:70px;
    height:50px;
    background:yellow;
    font-size:15px;
    border:5px solid black; 
    border-radius:50px;   
}
 .sad {
    width:70px;
    height:50px;
    background:#80ffac;
    font-size:15px;
    border:5px solid black; 
    border-radius:50px;   
}
 .angry {
    width:70px;
    height:50px;
    background:orangered;
    font-size:15px;
    border:5px solid black; 
    border-radius:50px;   
}
.py{
    background: black;
    width:400px;
}

